<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfc.kdyxworker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activitys.AccomplishDetailActivity" />
        <activity android:name=".activitys.RegisterActivity" />
        <activity android:name=".activitys.ForgetPasswordActivity" />
        <activity android:name=".activitys.ForgetPw2Activity" />
        <activity android:name=".activitys.InfoPerfectActivity" />
        <activity android:name=".activitys.InfoPerfect2Activity" />
        <activity android:name=".activitys.AnotherPayActivity" />
        <activity android:name=".activitys.AfterSaleActivity" />
        <activity android:name=".activitys.GoodsAfterSaleActivity" />
        <activity android:name=".activitys.TransitBasketActivity" />
        <activity android:name=".activitys.TransitBasketEditActivity" />
        <activity android:name=".activitys.DistributionedActivity"></activity>
    </application>

</manifest>